{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="header-container container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row pt-2">
        <div class="col mt-5 mb-5 d-flex flex-column align-items-center">
            <i class="fas fa-exclamation-circle error-icon"></i>
            <h2 class="text-center mt-5">Error 400: Bad Request. Please return home.</h2>
            <a class="mt-3" href="{% url 'home' %}"><button class="btn store-button store-button-dark btn-lg">Home</button></a>
        </div>
    </div>
</div>
{% endblock %}