{% extends "base.html" %}
{% load static %}

{% block extra_css %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
    crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
    crossorigin="anonymous" />

{% endblock %}


{% block content %}
<div class="row g-0">
    <div class="col-12">
        <div class="hero-image d-none d-lg-block">
            <img src="https://ik.imagekit.io/sizql0avpyf/banner-3_tsR31X036at.png?updatedAt=1635844858600" alt="">
        </div>
        <div class="hero-image d-block d-lg-none">
            <img src="https://ik.imagekit.io/sizql0avpyf/banner-1_9nkbQQMVKH.jpg?updatedAt=1635844841092" alt="">
        </div>
    </div>
</div>

<div class="container mt-3 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-1- col-md-10 text-center">
            <p class="welcome-message">Welcome to Press Records. We sell a curated selection of the best music on vinyl record, along with the best HI-FI has to offer today. We add to our discography daily so keep an eye on our site.</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col text-center my-4">
            <a href="{% url 'products' %}" class="btn welcome-button store-button-light btn-lg">
                <span class="text-uppercase">Shop Now</span>
            </a>
        </div>
    </div>
</div>


<div class="container-fluid my-5">
    <h3 class="text-center display-4 mb-5">This Week's Featured Records</h3>
    <div class="row">
        <div class="col-lg-10 col-md-12 m-auto">
            <div class="owl-one owl-carousel owl-theme">
                {% for product in is_feature %}
                <div class="item mb-4">
                    <div class="card border-0 shadow">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body-home pb-0">
                            <p class="mb-0 product-name text-truncate ps-2 text-center">
                                <strong>{{ product.name }}</strong>{% if product.artist_name %} -
                                {{ product.artist_name }}{% endif %}</p>
                        </div>
                        <div class="card-footer pt-0 border-0 text-center">
                            <div class="row">
                                <div class="col g-0 ps-1">
                                    <p class="lead mb-0 mt-1 text-left font-weight-bold price-card-home">€{{ product.price }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>

<div class="container-fluid category-container">
    <div class="row g-0">
        <div class="col">
            <h3 class="text-center display-4 my-3">Shop by Category</h3>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-lg-4 col-md-4 col-sm-12 category-image-div mb-5">
            <a href="{% url 'products' %}?category=Speakers">
                <img class="category-image" src="{{ MEDIA_URL }}speaker_category.png" alt="">
            </a>
            <h4 class="speaker-text">Speakers</h4>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 category-image-div mb-5">
            <a href="{% url 'products' %}?category=Vinyls">
                <img class="category-image" src="{{ MEDIA_URL }}vinyl_category.png" alt="">
            </a>
            <h4 class="vinyl-text">Vinyls</h4>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 category-image-div mb-5">
            <a href="{% url 'products' %}?category=Turntables">
                <img class="category-image" src="{{ MEDIA_URL }}turntable_category.png" alt="">
            </a>
            <h4 class="turntable-text">Turntables</h4>
        </div>
    </div>
</div>

<div class="container-fluid my-5">
    <h3 class="text-center display-4 mb-5">HI-FI Deals</h3>
    <div class="row">
        <div class="col-lg-10 col-md-12 m-auto">
            <div class="owl-one owl-carousel owl-theme">
                {% for product in is_hifi_deal %}
                <div class="item mb-4">
                    <div class="card border-0 shadow">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body-home pb-0">
                            <p class="mb-0 product-name text-truncate ps-2 text-center">
                                <strong>{{ product.name }}</strong>{% if product.artist_name %} -
                                {{ product.artist_name }}{% endif %}</p>
                        </div>
                        <div class="card-footer pt-0 border-0 text-center">
                            <div class="row">
                                <div class="col g-0 ps-1">
                                    <p class="lead mb-0 mt-1 text-left font-weight-bold price-card-home">€{{ product.price }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>

{% block postloadjs %}


<script>
    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 15,
        nav: true,
        dotsEach: true,
        autoplay: true,
        autoplayHoverPause: true,
        lazyLoad: true,
        responsive: {
            0: {
                items: 2
            },
            600: {
                items: 3
            },
            1000: {
                items: 4
            }
        }
    })

    
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous"></script>
{% endblock %}


{% endblock %}