#profile-update-form .form-control {
    color: #414833;
}

#profile-update-form input::placeholder {
    color: #C2C5AA;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #414833;
}

#id_default_country option:first-child {
    color: #C2C5AA;
}

.order-history {
    max-height: 416px; /* height of profile form + submit button */
    overflow-y: auto;
}