/* --- Menu - https://codepen.io/tonkec/pen/gryZmg --- */

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  background-color: #fafafa;
}

header {
  background-color: #F4A261;
}


main {

  padding-top: 250px;
}



.socials-sidebar {
  font-size: 30px;
  text-align: center;
}

.socials-sidebar i {
  color: #F4A261;
}

.socials-sidebar i:hover,
.socials-sidebar i:active {
  color: #fafafa;
  transition: 0.5s;
}


/*---- Free Shipping Banner ---*/
.free-shipping-banner {
  background-color: #2A9D8F;
  color: #fafafa;
  width: 100vw;
}

.free-shipping-banner p {
  margin: 0.5rem 0;
  font-weight: 500;
}

.logo {
  height: 100px;
  width: 70px;
}


.header-row {
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.shopping-bag ul li {
  float: right;
  text-align: center;
  padding-right: 20px;
  color: #fafafa;
}

.header-list {
  color: #fafafa;
}
.header-list:hover,
.header-list:active {
  color: #264653;
}

.menu-icon {
  font-size: 40px;
  padding-left: 30px;
  color: #fafafa;
}

.menu-icon:hover {
  color: #fafafa;
}

.menu-icon:active {
  color: #264653;
}

.offcanvas {
  background-color: #264653;
}

.offcanvas-body ul {
  list-style-type: none;
  padding-left: 0px;

}

.sidebar-anchor {
  color: #fafafa;
  text-decoration: none;
  font-size: 2.6em;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 7px;
}

.sidebar-anchor:hover,
.sidebar-anchor:active {
  color: #F4A261;
  transition: 0.4s;
}

.sidebar-anchor-collapse {
  color: #fafafa;
  text-decoration: none;
  font-size: 1.5em;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 7px;
}

.sidebar-anchor-collapse:hover,
.sidebar-anchor-collapse:active {
  color: #F4A261;
  transition: 0.2s;
}


.offcanvas-title {
  color: #fafafa;
  text-decoration: none;
  font-size: 3em;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 7px;
  text-align: center;
}

.btn-close {
  color: #fafafa;
}

.dropdown-shop {
  width: 100%;
  background-color: #264653;
  text-align: center;
}

.dropdown-item {
  color: #264653;
  font-size: 1.8em;
}

.dropdownMenuButton {
  position: relative;
}

/*-----Hero Image -----*/

.hero-image img {
  width: 100%; 
  height: auto;   
 }

 /*---- Products Page ----*/
 .product-name {
   font-size: 22px;
 }

 /*---- Product Detail Page ---*/

 .product-detail-name {
   font-size: 35px;
 }

 .product-detail-artist {
   font-size: 28px;
 }

 @media (min-width: 992px) { 
  .product-detail-name {
    font-size: 50px
  }
 
  .product-detail-artist {
    font-size: 40px;
  }
  }