/* --- Menu - https://codepen.io/tonkec/pen/gryZmg --- */

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #F5F6F1;
  color: #414833;
}


nav {
  background-color: #656d4a;
  opacity: 88%;
}

main {
  padding-top: 60px;
  margin-bottom: 100px;
}

.socials-sidebar {
  font-size: 30px;
  text-align: center;
}

.socials-sidebar i {
  color: #f5f6f1;
}

.socials-sidebar i:hover,
.socials-sidebar i:active {
  color: #fafafa;
  transition: 0.5s;
}


.menu-icon {
  font-size: 40px;
  padding-left: 30px;
  color: #fafafa;
}

.menu-icon:hover {
  color: #fafafa;
}

.menu-icon:active {
  color: #264653;
}

.logo {
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: .2rem;
  cursor: pointer;
  text-align: center;
}

.logo:focus,
.logo:hover {
  color: #fff;
}

.md-nav-item {
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-right: 1.5rem;
  font-weight: 300;
  letter-spacing: .2rem;
  cursor: pointer;
}

.header-list {
  color: #fafafa;
}
.header-list:hover,
.header-list:active {
  color: #fafafab7;
}

.shopping-bag ul li {
  float: right;
}

.offcanvas {
  background-color: #4C573D;
  opacity: 88%;
}

.offcanvas-body ul {
  list-style-type: none;
  padding-left: 0px;

}
.offcanvas-close {
  margin-left: 95%;
}

.slideout-navigation button.slideout-exit {
  text-align: right;
}

.sidebar-anchor {
  color: #fafafa;
  text-decoration: none;
  font-size: 2.6em;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
  font-family: 'Roboto', sans-serif;
  margin-left: 13%;
}

.sidebar-anchor:hover,
.sidebar-anchor:active {
  color: #F5F6F1;
  transition: 0.4s;
}

.sidebar-anchor-collapse {
  color: #fafafa;
  text-decoration: none;
  font-size: 1.5em;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  margin-left: 20%;
}

.sidebar-anchor-collapse:hover,
.sidebar-anchor-collapse:active {
  color: #F5F6F1;
  transition: 0.2s;
}


.offcanvas-title {
  color: #fafafa;
  text-decoration: none;
  font-size: 3em;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 7px;
  text-align: center;
}

.btn-close {
  color: #fafafa;
}

.dropdown-shop {
  width: 100%;
  background-color: #264653;
  text-align: center;
}

.dropdown a:focus {
  color: #fafafa;
}

.dropdown-item a {
  color: #fafafa;
  text-align: start;
  text-decoration: none;
  font-size: 13px;

}

.dropdown-item a:hover,
.dropdown-item a:focus {
  color: #fafafa;
  background-color: #414833;
  text-decoration: none;

}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #414833;

}

.dropdown-menu {
  background-color: #414833;
  
}
.dropdownMenuButton {
  position: relative;
}

/*----- Footer ------*/

footer {
  background-color: #656d4a;
  height: 210px;
  position: relative;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.footer-address-header {
  color: #fafafa;
  padding-top: 5px;
}

.footer-address {
  margin: 0;
  color: #fafafa;
}

.socials-footer {
  font-size: 30px;
  text-align: center;
}

.socials-footer i {
  color: #f5f6f1;
}


/*-----Hero Image -----*/

.hero-image img {
  width: 100vw; 
  height: auto;
  flex-shrink: 0;
 }

 .hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.fill img {
  
  min-width: 100%;
  min-height: 100%
}

 /*---- Products Page ----*/
 .product-name {
   font-size: 22px;
 }

 .product-card,
 .card-footer {
   background-color: #f5f6f1;
 }

 

 .category-header {
   font-size: 2.6em;
 }

 /*.product-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: 0.7s;
}*/

 /*---- Product Detail Page ---*/

 .product-detail-name {
   font-size: 35px;
 }

 .product-detail-artist {
   font-size: 28px;
 }

 
  .product-detail-artist {
    font-size: 44px;
  }
  
  .product-detail-price {
    font-size: 24px;
  }

  .store-button {
    font-size: 0.8rem;
    font-weight: 300;
  }
  
  

  .store-button-dark {
    color: #f5f6f1;
    background: #414833;
    border: .1rem solid #414833;
    border-radius: 0px;
  }

  .store-button-dark:hover,
  .store-button-dark:active {
    color: #414833;
    background: #f5f6f1;
    border: .1rem solid #414833;
    border-radius: 0px;
    transition: 0.4s ease-in-out;
  }

  .store-button-light {
    color: #414833;
    background: #f5f6f1;
    border: .1rem solid #414833;
    border-radius: 0px;
  }

  .store-button-light:hover,
  .store-button-light:active {
    color: #f5f6f1;
    background: #414833;
    border: .1rem solid #f5f5f5;
    border-radius: 0px;
    transition: 0.4s ease-in-out;
  }


  /*--- Bag ---*/

.bag-head {
  font-size: 12px;
}

.bag-table td p {
  font-size: 13px;
}

  /* -- quantity box -  https://embed.plnkr.co/plunk/B5waxZ -- */

 
 .qty_input {
   width: 28px;
   height: 22px;
   padding: 0 5px;
   text-align: center;
   background-color: #fff;
   border: 1px solid #efefef;
 }

 .buttons-added {
   padding: 0px 5px 0px;
   height: 22px;
   background-color: #ffffff;
   border: 1px solid #efefef;
   cursor: pointer;
   bottom: 3px;
 }


 .buttons-added:hover {
   background: #eeeeee;
 }

.update-link,
.remove-item {
  cursor: pointer;
  color: #414833;
}

.update-link:hover,
.remove-item:hover,
.update-link:active,
.remove-item:active {
  cursor: pointer;
  color: #4C563E;
}

.message-container {
  position: fixed;
  top: 65px;
  right: 5px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

.toast-close {
  margin-left: 95%;
}

.bag-notification-wrapper {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}

/*---- Search ------*/



.search-bar {
  border-bottom: 1px solid #F5F6F1;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  background-color: #4C573D;
  color: #F5F6F1;
}

.search-bar:focus,
.search-bar:active {
  border-bottom: 1px solid #F5F6F1;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
}

.search-bar::placeholder {
  color: #F5F6F1;
}

.search-button {
  color: #F5F6F1;
  border: 1px solid #F5F6F1;
  margin-left: 8px;
}

.search-button:hover,
.search-button:focus {
  background-color: #F5F6F1;
  color: #4C573D;
}

.sidebar-anchor-search {
  margin-left: 14%;
  padding-bottom: 10px;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
  margin-top: 1.5rem; /* mt-4 */
  color: #414833; /* text-secondary */
}

.allauth-form-inner-content input {
  border-color: #000;
  border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color: #414833;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
  /* btn */
  color: #414833;
  background: #f5f6f1;
  border: .1rem solid #414833;
  border-radius: 0px;

}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
  color: #f5f6f1;
  background: #414833;
  border: .1rem solid #414833;
  border-radius: 0px;
}

.allauth-form-inner-content a {
color: #17a2b8; /* text-info */
}

/* Product Form */

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
  border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 0;
}

/*--- Media Queries ---*/

/*--- Medium ---*/

@media (min-width: 768px) {

  main {
    padding-top: 105.6px;
    margin-bottom: 270px;
  }
  .category-header {
    font-size: 3.7em;
  }
  .bag-head {
    font-size: 14px;
  }
  .bag-table td p {
    font-size: 14px;
  }
  .qty_input {
    width: 55px;
    height: 39px;
    padding: 0 5px;
  }
 
  .buttons-added {
    padding: 7px 10px 8px;
    height: 41px;
  }
 
}

/*--- Large ---*/

@media (min-width: 992px) {
  main {
    padding-top: 60px;
    margin-bottom: 210px;
  }
  .product-detail-name {
    font-size: 58px
  }

  .store-button {
    font-size: 1.2rem;
    font-weight: 300;
  }

  .bag-head {
    font-size: 16px;
  }
  .bag-table td p {
    font-size: 17px;
  }

  .logo {
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: .2rem;
  }

  .dropdown-item a {
    font-size: 14px;
  
  }
}