/* --- Menu - https://codepen.io/tonkec/pen/gryZmg --- */

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  background-color: #fafafa;
}

header {
  background-color: #F4A261;
}


main {

  padding-top: 250px;
}



.socials-sidebar {
  font-size: 30px;
  text-align: center;
}

.socials-sidebar i {
  color: #F4A261;
}

.socials-sidebar i:hover,
.socials-sidebar i:active {
  color: #fafafa;
  transition: 0.5s;
}


/*---- Free Shipping Banner ---*/
.free-shipping-banner {
  background-color: #2A9D8F;
  color: #fafafa;
  width: 100vw;
}

.free-shipping-banner p {
  margin: 0.5rem 0;
  font-weight: 500;
}

.logo {
  height: 100px;
  width: 70px;
}


.header-row {
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.shopping-bag ul li {
  float: right;
  text-align: center;
  padding-right: 20px;
  color: #fafafa;
}

.header-list {
  color: white;
}

.menu-icon {
  font-size: 40px;
  padding-left: 30px;
  color: #fafafa;
}

.menu-icon:hover {
  color: #fafafa;
}

.menu-icon:active {
  color: #264653;
}

.offcanvas {
  background-color: #264653;
}

.offcanvas-body ul {
  list-style-type: none;
  padding-left: 0px;

}

.sidebar-anchor {
  color: #fafafa;
  text-decoration: none;
  font-size: 1.8em;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 7px;
}

.sidebar-anchor:hover {
  color: #fafafa;
}

.sidebar-anchor:active {
  color: #F4A261;
}

.offcanvas-title {
  color: #fafafa;
  text-decoration: none;
  font-size: 2.5em;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 7px;
  text-align: center;
}

.btn-close {
  color: #fafafa;
}