{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="category-header">Record Reviews</h2>
                <hr class="w-50 mb-1 mx-auto">
        </div>
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
        <div class="row">
            <div class="blog-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for post in blog %}
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <div class="card blog-card h-100 border-0">
                                {% if blog.image %}
                                <a href="{% url 'blog_post' blog.id %}">
                                    <img class="card-img-top img-fluid" src="{{ blog.image.url }}" alt="{{ blog.title }}">
                                </a>
                                {% else %}
                                <a href="{% url 'blog_post' blog.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ blog.title }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="mb-0 product-name"><strong>{{ blog.title }}</strong></p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}