{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="category-header">Record Reviews</h2>
                <p>Take a look through some of our latest Press Record Reviews to see if anything spikes your interest!
                     Here we will discuss our favourite records, new and old plus other music related topics</p>
                <hr class="w-50 mb-1 mx-auto">
        </div>
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
        <div class="row">
            <div class="blog-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for blog in blogs %}
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <div class="card blog-card h-100 border-0 pb-3">
                                {% if blog.image %}
                                <a href="{% url 'blog_post' blog.id %}">
                                    <img class="card-img-top img-fluid" src="{{ blog.image.url }}" alt="{{ blog.title }}">
                                </a>
                                {% else %}
                                <a href="{% url 'blog_post' blog.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ blog.title }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-1">
                                    <p class="mb-0 product-name"><strong>{{ blog.title }}</strong></p>
                                    {% if request.user.is_superuser %}
                                    <small class="ml-3">
                                    <a href="{% url 'edit_blog' blog.id %}">Edit</a>
                                    <a class="text-danger" href="{% url 'delete_blog' blog.id %}">Delete</a>
                                </small>
                                {% endif %}
                                </div>
                                
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}