{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-5 offset-lg-2">
            <div class="image-container my-5">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <p class="mb-0 product-detail-name">{{ product.name }}</p>
                {% if product.artist_name %}
                <p class="mb-0"><a href="{% url 'products' %}?artist_name={{ product.artist_name.name }}"
                        class="product-detail-artist">{% if product.artist_name %}{{ product.artist_name.friendly_name }}{% endif %}</a>
                </p>
                {% endif %}
                {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a href="{% url 'edit_product' product.id %}">Edit</a> |
                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                </small>
                {% endif %}
                <br>
                <span class="lead mb-0 mt-3 text-left product-detail-price">€{{ product.price }}</span>
                <br>
                <span>{% if request.user.is_authenticated %}
                    {% if product in wishlist_items %}
                    <a href="#">
                        <span class="wishlist-button">
                            <i class="fas fa-heart"></i>
                        </span>
                    </a>
                    {% else %}
                    <a href="{% url 'add_to_wishlist' product.id %}" data-toggle="tooltip" data-placement="right"
                        title="Add to Wishlist">
                        <span class="wishlist-button">
                            <i class="far fa-heart"></i>
                        </span>
                    </a>
                    {% endif %}
                    {% endif %}</span>
                <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn buttons-added rounded-0"
                                            data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="qty_input" type="number" name="quantity" value="1" min="1" max="25"
                                        data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn buttons-added rounded-0"
                                            data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <button type="submit" class="btn btn-lg store-button store-button-dark mt-3"><i
                                    class="fas fa-shopping-bag"></i> Add To Bag</button>
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>


                <p class="mt-3">{{ product.description }}</p>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}

{{ block.super }}
{% include 'products/includes/quantity_selector.html' %}

{% endblock %}